:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --skill-background-color: #f9f9f9;
    --skill-text-color: #333333;
    --divider-color: #dddddd;
  }
  
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0; /* Lighter text for better contrast in dark mode */
    --skill-background-color: #1e1e1e;
    --skill-text-color: #e0e0e0; /* Lighter text for skill items in dark mode */
    --divider-color: #444444;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .skillList {
    background-color: var(--skill-background-color);
    color: var(--skill-text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .skillItem {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--skill-background-color);
    color: var(--skill-text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  hr {
    border: 1px solid var(--divider-color);
    transition: border-color 0.3s;
  }
  